@model AnimeShop.Models.Kategori
@using AnimeShop.Components
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="row">
    <div class="col-4">
        @Html.DisplayFor(model => model.Ad)
    </div>
    <div class="col-8">
        @await Component.InvokeAsync("KategoriUrun", new {id = Model.Id}); @*//view component içerisine id alıyordu o id yi burada veriyoruz.*@
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
